$small: 576px;
$medium: 768px;

@mixin layout($color, $size: 14px) {
    color: $color;
    background-color: lighten($color, 70%);
    font-size: $size;
    margin: $size;
    padding: $size;
    line-height: $size * 1.5;
    border: 5px solid $color;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
}

#container {
    @include layout(darkred);
}

@media (max-width: $small) {
    #container {
        @include layout(darkblue, 16px);
    }
}

@media (min-width: $medium) {
    #container {
        @include layout(darkgreen, 20px);
    }
}