@mixin frame ($thickness, $style: solid, $color-border: #000, $color-bg: #eee, $padding: 10px, $raduis: 15px) {
    border: $thickness $style $color-border;
    background-color: $color-bg;
    padding: $padding;
    border-radius: $raduis;

    &:hover {
        box-shadow: 5px 5px 10px black;
    }
}